* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: grey;
}

p {
  margin: 5px 0px;
}

canvas {
  background-color: white;
}

div.cling {
  position: fixed;
}

div.cling.top {
 top: 5px;
}

div.cling.bottom {
  bottom: 5px;
}

div.cling.left {
  left: 5px;
}

div.cling.right {
  right: 5px;
}

#settings-cat-container div {
  border: outset black 1px;
}

.menu-trigger {
  background-color: aliceblue;
  display: block;
}

#drawBox {
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom:10px;
  background-color: black;
  box-sizing: content-box;
}

#drawBox::after {
  content: attr(data-word);
  color: white;
  font-family: Trebuchet, sans-serif;
  font-size: 2em;
}

#pic-stream-box {
  background-color: white;
  width: 600px;
  height: 600px;
}

#guess-box {
  margin-top: 10px;
}

.center {
  display: flex;
}

.center:not(.vertical):not(.horizontal) {
  /* Both horizontal and vertical */
  justify-content:center;
  align-items:center;
}

.center.vertical {
  /* Vertical only centering */
  align-items:center;
}

.center.horizontal {
  /* Horizontal only centering */
  justify-content:center;
}

div.box {
  border: 1px black solid;
  padding: 5px;
}

.block-label, .block-label * {
  display: block;
}

.inline-label {
  display: inline-block;
}

#createOptionsCheck:checked ~ #createOptionsBox {
  display:block;
}

#createOptionsBox * {
  display:block;
}

#startPage > div > button {
  margin-top: 5px;
}

#startPage > div > label {
  margin-bottom: 5px;
}

#joinGame {
  margin-bottom: 1em;
}


.wrong {
  background-color: red;
}

.correct {
  background-color: green;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.modal .modal-box {
  margin: 80px auto 30px;
  opacity: 1;
  z-index: 10;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal .modal-box .modal-inner-box {
  background-color: white;
  padding: 1em 0;
  border-width: 0px;
  border-color: rgb(238,238,238);
  border-radius: 1px;
  border-style: solid;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.4);
  width: 100%;
  text-align: center;
}

#modal-title {
  font-size: 25px;
  text-align: center;
  margin: 20px 25px 25px;
}

#modal-buttons {
  margin-top: 1em;
}

#modal-buttons button {
  margin: auto 1em;
}

.hidden {
  display: none;
}
